body {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  }

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.empty-title, .team-title, .portfolio-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*-------- Header ------------------*/

.solutions {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solutions-nav {
  display: flex;
  align-items: center;
}

.solutions-logo-w {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}

.solutions-logo-w-s {
  color: #2e2f42;
}

.solutions-menu-list {
  display: none;
}

.solutions-cont {
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-modal {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-modal-close {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 24px;
}

.header-modal-close:hover,
.header-modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #FFFFFF;
}

.header-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav {
  display: flex;
  align-items: center;
}

.modal-menu-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 50px;
}

.modal-studio-list {
  
}

.modal-list {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list:hover,
.modal-list:focus {
  color: #404bbf;
}

.header-modal-cont {}

.modal-mt-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-cont-mt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont-mt:hover,
.modal-cont-mt:focus {
  color: #404bbf;
}

.modal-box-list {}

.modal-list-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.modal-list-li {
  width: 40px;
  height: 40px;
}

.modal-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-social-icon {
  fill: #f4f4fd;
}

.modal-link:hover,
.modal-link:focus {
  background-color: #31d0aa;
}

.header-modal-contakt {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* ------------------- --------------------------- */

/*-------- Effect ------------------*/
.effect {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(.././images/dark-bg-mob-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 320px;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .effect {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(.././images/dark-bg-mob-2.jpg);
  }
}

.effect-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 72px;
  max-width: 216px;
}

.effect-but {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.effect-but:hover, .effect-but:focus {
  background-color: #404bbf;
}

/* ------------------- --------------------------- */

/*-------------------- Empty ------------------*/

.empty {
  padding: 96px 0 96px;
}

.empty-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.empty-icon {
  display: none;
}

.empty-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.empty-p {
  font-weight: 500;
}

/* ------------------- --------------------------- */

/*-------------------- Team ------------------*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.team-list-li {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
}

.team-list-content {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-job {
  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-items {
  width: 40px;
  height: 40px;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-link:hover, .team-link:focus {
  background-color: #404bbf;
}

/* ------------------- --------------------------- */

/*-------------------- Portfolio ------------------*/

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li-conteiner {
  position: relative;
  overflow: hidden;
}

.portfolio-list-li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);}

.portfolio-list-li:hover .portfolio-li-content {
  transform: translatey(0);
}

.portfolio-li-content {
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
}

.portfolio-li-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ------------------- --------------------------- */

/*-------------------- Footer ------------------*/
.foot {
  background-color: #2e2f42;
  padding: 96px 0;
}

.foot-box-logo {
  margin-bottom: 72px;
}

.foot-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.foot-logo-s {
  color: #f4f4fd;
}

.foot-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.foot-box-list {
  max-width: 208px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.foot-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.foot-list-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.foot-list-li {
  width: 40px;
  height: 40px;
}

.foot-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-icon {
  fill: #f4f4fd;
}

.foot-link:hover,
.foot-link:focus {
  background-color: #31d0aa;
}

.foot-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.foot-subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.subscribe-email {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  min-width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-email::placeholder {
  color: #FFFFFF;
}

.foot-subscribe-btm {
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.foot-subscribe-icon {
  margin-left: 16px;
  fill: #FFFFFF;
}

/* ------------------- --------------------------- */

/* -------------------Modal ---------------------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #FFFFFF;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-icon {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-text:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon-wrap {
    fill: #4d5ae5;
  }

.modal-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-icon-wrap {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.modal-policy-text span {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-btn:checked + .modal-policy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-policy {
  margin-bottom: 24px;
}

.policy-modal {
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  background: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------- --------------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ------------ Header -------------------- */
  .solutions-logo-w {
    margin-right: 120px;
  }
  
  .solutions-menu-list {
    display: flex;
    gap: 40px;
  }

  .solutions .solutions-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .solutions-list:hover,
  .solutions-list:focus {
    color: #404bbf;
  }
  
  .header-studio-list .header-studio {
    position: relative;
    color: #404bbf;
  }
  
  .header-studio::after {
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .solutions-cont {
    display: block;
  }

.solutions-mt-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.solutions-cont {
  font-style: normal;
  margin-left: auto;
}

.solutions-mt-list {
  line-height: 0;
}

.solutions-cont-mt {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-cont-mt:hover,
.solutions-cont-mt:focus {
  color: #404bbf;
}

  .open-menu-btn {
    display: none;
  }

  /* ------------------- --------------------------- */
  /*-------- Effect ------------------*/
  .effect {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(.././images/dark-bg-tab-1.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .effect {
      background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(.././images/dark-bg-tab-2.jpg);
    }
  }

  .effect-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
/* ------------------- --------------------------- */
/*-------------------- Empty ------------------*/
.empty-list {
  gap: 72px 24px;
  flex-direction: row;
  flex-wrap: wrap;
}

.empty-list-li {
  width: calc((100% - 24px) / 2);
}
/* ------------------- --------------------------- */
/*-------------------- Team ------------------*/
.team-list {
  gap: 64px 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* ------------------- --------------------------- */
/*-------------------- Portfolio ------------------*/
.portfolio-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.portfolio-list-li {
  width: calc((100% - 24px) / 2);
}

/* ------------------- --------------------------- */
  /* ------------ Footer -------------------- */
  .foot-container {
    margin: 0;
    display: flex;
    gap: 72px 24px;
    align-items: baseline;
    padding-left: 92px;
    flex-wrap: wrap;
  }
  
  .foot-box-logo {
    margin: 0;
  }

  .foot-logo {
    display: inline-block;
  }

  .foot-text {
    width: 264px;
  }

  .foot-box-list {
    margin: 0;
  }

  .foot-content {
    text-align: left;
  }

.foot-subscribe-text {
  text-align: left;
}

  .foot-subscribe-form {
    gap: 24px;
    flex-direction: row;
  }

  .subscribe-email {
    width: 264px;
  }
  /* ------------------- --------------------------- */
}

@media screen and (min-width: 1158px) {
.container {
  max-width: 1158px;
  padding:  0 15px;
}
  /* ------------ Footer -------------------- */
.solutions-logo-w {
  margin-right: 76px;
}

.solutions-mt-list {
  flex-direction: row;
  gap: 40px;
}

.solutions-cont-mt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
  /* ------------------- --------------------------- */
    /*-------- Effect ------------------*/
.effect {
  padding: 188px 0 188px;
  max-width: 1440px;
  background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(.././images/people-office-1.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .effect {
    background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(.././images/people-office-2.jpg);
  }
}
  
    /* ------------------- --------------------------- */
/*-------------------- Empty ------------------*/
.empty {
  padding: 120px 0 120px;
}

.empty-list {
  gap: 24px;
}

.empty-list-li {
  width: calc((100% - 3 * 24px) / 4);
}

.empty-icon {
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  margin-bottom: 8px;
}

.empty-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

.empty-p {
  font-weight: 400;
}

/* ------------------- --------------------------- */
/*-------------------- Team ------------------*/
.team {
  padding: 120px 0;
}

.team-list {
  gap: 24px;
}

.team-list-li {
  width: calc((100% - 3 * 24px) / 4);
}
/* ------------------- --------------------------- */
/*-------------------- Portfolio ------------------*/
.portfolio-list {
  gap: 48px 24px;
}

.portfolio-list-li {
  width: calc((100% - 2 * 24px) / 3);
}

/* ------------------- --------------------------- */
  /* ------------ Footer -------------------- */
  .foot {
    padding: 100px 0;
  }
  
  .foot-container {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }

  .foot-box-logo {
    margin-right: 120px;
  }

  .foot-box-list {
    margin-right: 80px;
  }

  .foot-content {
    margin-bottom: 16px;
  }

  .foot-subscribe-btm {
    min-width: 165px;
  }
  /* ------------------- --------------------------- */
}